<div class="layout-topbar">
    <div class="layout-topbar-logo-container">
        <button class="layout-menu-button layout-topbar-action" (click)="layoutService.onMenuToggle()">
            <i class="pi pi-bars"></i>
        </button>
        <a class="layout-topbar-logo" routerLink="/">
            <img src="assets/logo.png" alt="Logo" style="height:60px;" />
            <!-- <span>HaemoVigil</span> -->
        </a>
    </div>

    <div class="layout-topbar-actions">
        <div class="layout-config-menu">
            <button type="button" class="layout-topbar-action" (click)="toggleDarkMode()">
                <i
                    [ngClass]="{ 'pi ': true, 'pi-moon': layoutService.isDarkTheme(), 'pi-sun': !layoutService.isDarkTheme() }"></i>
            </button>
            <div class="relative">
                <button class="layout-topbar-action layout-topbar-action-highlight" pStyleClass="@next"
                    enterFromClass="hidden" enterActiveClass="animate-scalein" leaveToClass="hidden"
                    leaveActiveClass="animate-fadeout" [hideOnOutsideClick]="true">
                    <i class="pi pi-palette"></i>
                </button>
                <app-configurator />
            </div>
        </div>

        <button class="layout-topbar-menu-button layout-topbar-action" pStyleClass="@next" enterFromClass="hidden"
            enterActiveClass="animate-scalein" leaveToClass="hidden" leaveActiveClass="animate-fadeout"
            [hideOnOutsideClick]="true">
            <i class="pi pi-ellipsis-v"></i>
        </button>

        <div class="layout-topbar-menu hidden lg:block">
            <div class="layout-topbar-menu-content !gap-2">
                <button type="button" class="layout-topbar-action" routerLink="/login">
                    <div class="bg-gray-200 w-8 h-8 rounded-full flex items-center justify-center text-gray-700">
                        <i class="pi pi-user"></i>
                    </div>
                    <span>Profile</span>
                </button>

                <div *ngIf="authService.currentUser" class="!m-0 flex items-center gap-2 text-base text-gray-700">
                    Welcome, <span class="font-bold text-red-700">{{ authService.currentUser.name | titlecase }}</span>
                </div>

            </div>
        </div>
    </div>
</div>