<p-confirmDialog [position]="'top'" [baseZIndex]="5000"></p-confirmDialog>

<div class="flex flex-wrap gap-4 p-4 items-center">
  <!-- Search input + button -->
  <div class="flex bg-white border rounded-md shadow-sm w-full sm:w-auto sm:min-w-[350px]">
    <input
      type="text"
      pInputText
      placeholder="Search..."
      class="flex-1 p-2 rounded-l-md outline-none"
      (input)="onGlobalFilter(dt, $event)"
      
    />
    <button class="bg-red-600 text-white px-4 rounded-r-md">Search</button>
  </div>

  <!-- From + To Date (Always in same row) -->
  <div class="flex gap-2 w-full sm:w-auto">
    <p-datepicker
      [(ngModel)]="fromDate"
      placeholder="From Date"
      dateFormat="dd/mm/yy"
      class="w-full sm:w-40">
    </p-datepicker>
    <p-datepicker
      [(ngModel)]="toDate"
      placeholder="To Date"
      dateFormat="dd/mm/yy"
      class="w-full sm:w-40">
    </p-datepicker>
  </div>
</div>


    <!-- <div class="flex flex-1 min-w-[300px] bg-white border rounded-md shadow-sm">
      <input
        type="text"
        pInputText
        placeholder="Search..."
        class="flex-1 p-2 rounded-l-md outline-none"
        />
      <button class="bg-red-600 text-white px-4 rounded-r-md">Search</button>
    </div>

    <p-dropdown
      class="flex s:w-full"
      [options]="searchOptions"
      [(ngModel)]="selectedSearchBy"
      placeholder="Search by">
    </p-dropdown>

    <div class="flex gap-2">
      <p-datepicker
        [(ngModel)]="fromDate"
        placeholder="From Date"
        dateFormat="dd/mm/yy"
        class="w-full">
      </p-datepicker>
      <p-datepicker
        [(ngModel)]="toDate"
        placeholder="To Date"
        dateFormat="dd/mm/yy"
        class="w-full">
      </p-datepicker>
    </div> -->


<p-table #dt [value]="row" 
[globalFilterFields]="['bloodBagId.bloodBagId', 'patientId.UHID', 'patientId.firstname', 'patientId.lastname', 'patientId.bloodGroup', 'bloodBagId.bloodcomponent', 'transporterKey']"
[paginator]="true" [rows]="10" responsiveLayout="scroll" class="w-full text-m p-datatable-striped rounded-xl shadow-lg min-w-[800px]">
    <ng-template pTemplate="header">
        <tr class="bg-red-700 text-white text-m px-5 py-3 font-semibold">
            <th class="rounded-tl-xl !px-5 !py-3">Bag ID</th>
            <th class="!px-5 !py-3">UHID</th>
            <th class="!px-5 !py-3">Transporter Key</th>
            <th class="!px-5 !py-3">Patient Name</th>
            <th class="!px-5 !py-3">Blood Group</th>
            <th class="!px-5 !py-3">Blood Component</th>
            <th class="!px-5 !py-3">Status</th>
            <th class="!px-5 !py-3">Allocated On</th>
            <th class="rounded-tr-xl !px-5 !py-3">Action</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr class="hover:bg-red-50" [ngClass]="stripe(i)">
            <td class="!px-5 !py-3">{{ row.bloodBagId?.bloodBagId }}</td>
            <td class="!px-5 !py-3">{{ row.patientId?.UHID }}</td>
            <td class="!px-5 !py-3">{{ row.transporterKey }}</td>
            <td class="!px-5 !py-3">{{ row.patientId?.firstname | titlecase }} {{ row.patientId?.lastname | titlecase }}</td>
            <td class="!px-5 !py-3">{{ row.patientId?.bloodGroup }}</td>
            <td class="!px-5 !py-3">{{ row.bloodBagId?.bloodcomponent }}</td>
            <td class="!px-5 !py-3">
                <span class="inline-block rounded-full px-3 py-1 text-m text-black font-normal capitalize" [ngClass]="badgeClass(row.status)">
                    {{ row.status }}
                </span>
            </td>

            <td class="!px-5 !py-3">{{ row.allocatedOn | date: 'MMM dd, yyyy | hh:mm a' }}</td>
            <td class="!px-5 !py-3">
                <div class="flex gap-x-4">
                    <span class="border border-blue-600 bg-blue-100 text-blue-700 px-3 py-1 rounded-full text-s font-semibold cursor-pointer" (click)="releaseBag(row._id, i)"> Release </span>
                    <span class="border border-green-600 bg-green-100 text-green-700 px-3 py-1 rounded-full text-s font-semibold cursor-pointer" (click)="reserveAllocatedBag(row._id,  row.allocatedOn)"> Reserve </span>
                </div>
            </td>
        </tr>
    </ng-template>
     <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8" class="text-center py-8 text-gray-700 text-xl">
                <div class="flex justify-center items-center h-full">
                    No data found
                </div>
            </td>
        </tr>
       
    </ng-template>
</p-table>
