      <div class="flex flex-wrap gap-4 p-4 items-center">
  <div class="flex bg-white border rounded-md shadow-sm w-full sm:w-auto sm:min-w-[350px]">
    <input
      type="text"
      pInputText
      placeholder="Search..."
      class="flex-1 p-2 rounded-l-md outline-none"
      (input)="onGlobalFilter(dt, $event)"
      
    />
    <button class="bg-red-600 text-white px-4 rounded-r-md">Search</button>
  </div>

  <div class="flex gap-2 w-full sm:w-auto">
    <p-datepicker
      [(ngModel)]="fromDate"
      placeholder="From Date"
      dateFormat="dd/mm/yy"
      class="w-full sm:w-40">
    </p-datepicker>
    <p-datepicker
      [(ngModel)]="toDate"
      placeholder="To Date"
      dateFormat="dd/mm/yy"
      class="w-full sm:w-40">
    </p-datepicker>
  </div>
        <!-- <p-button label="New Allocation" icon="pi pi-bag" (click)="goToAllocateBag()"> </p-button> -->

</div>
<p-table #dt [value]="row"
    [globalFilterFields]="['bloodBagId.bloodBagId', 'patientId.UHID', 'patientId.firstname', 'patientId.lastname', 'patientId.bloodGroup', 'bloodBagId.bloodcomponent', 'transporterKey']"

[paginator]="true" [rows]="10" responsiveLayout="scroll" class="p-datatable-striped rounded-xl shadow-lg min-w-[800px]">
    <ng-template #header>
        <tr class="bg-red-700 text-white text-left text-m font-semibold">
            <th class="rounded-tl-xl !px-5 !py-3">Bag ID</th>
            <th class="!px-5 !py-3">UHID</th>
            <th class="!px-5 !py-3">Transporter Key</th>
            <th class="!px-5 !py-3">Patient Name</th>
            <th class="!px-5 !py-3">Blood Group</th>
            <th class="!px-5 !py-3">Blood Component</th>
            <th class="!px-5 !py-3">Status</th>
            <th class="rounded-tr-xl !px-5 !py-3">Allocated On</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-i="rowIndex">
        <tr class="hover:bg-red-50" [ngClass]="stripe(i)">
            <td class="!px-5 !py-3">{{ row.bloodBagId?.bloodBagId }}</td>
            <td class="!px-5 !py-3">{{ row.patientId?.UHID }}</td>
            <td class="!px-5 !py-3">{{ row.transporterKey }}</td>
            <td class="!px-5 !py-3">{{ row.patientId?.firstname | titlecase }} {{ row.patientId?.lastname | titlecase }}</td>
            <td class="!px-5 !py-3">{{ row.patientId?.bloodGroup }}</td>
            <td class="!px-5 !py-3">{{ row.bloodBagId?.bloodcomponent }}</td>
            <td class="!px-5 !py-3">
                <span class="inline-block rounded-full px-3 py-1 text-m text-black font-normal capitalize" [ngClass]="badgeClass(row.status)">
                    {{ row.status }}
                </span>
            </td>
            <td class="!px-5 !py-3">{{ row.allocatedOn | date: 'MMM dd, yyyy | hh:mm a' }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8" class="text-center py-8 text-gray-700 text-xl">
                <div class="flex justify-center items-center h-full">No data found</div>
            </td>
        </tr>
    </ng-template>
</p-table>
