<div class="flex min-h-screen bg-white">
  <div class="form-section">
    <p class="logo">HemoVigil</p>
    <h2>Create an account</h2>
    <p>Let's begin your Blood Bank</p>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <input formControlName="phone" placeholder="Phone" />
      <input
        formControlName="password"
        placeholder="Password"
        type="password"
      />
      <button class="primary" type="submit">Login</button>
    </form>
  </div>

  <div class="image-section">
    <div class="overlay-text ml-36">
      <h2>Let’s empower your Blood Bank today with Heamovigil</h2>
      <p>
        When you donate with Heamovigil, you're not just giving blood – you're
        giving hope, health, and a second chance.
      </p>
    </div>
  </div>
</div>
