.container {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}

.form-section {
  width: 40%;
  padding: 100px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;

  p.logo {
    color: #c70000;
    font-weight: bold;
    font-size:20px;
  }

  h2 {
    font-size: 28px;
    margin-top: 20px;
  }

  p {
    margin-bottom: 20px;
    color: #666;
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      margin-bottom: 15px;
      padding: 12px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    .primary {
      background: #c70000;
      color: #fff;
      padding: 12px;
      border: none;
      border-radius: 6px;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 10px;
    }

    .google {
      background: #fff;
      color: #444;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .login-link {
      margin-top: 15px;
      font-size: 14px;
      a {
        color: #c70000;
        text-decoration: none;
      }
    }
  }
}
input::placeholder {
  color: #b0b0b0; /* light grey */
  opacity: 1;     /* ensure full opacity */
}

.image-section {
  width: 60%;
  background:url('/assets/loginImage.png') no-repeat center center;
  background-size: cover  ;
  color: #fff;
  display: flex;
  align-items: end;
  padding:60px 30px;

  .overlay-text {
    background: linerar-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    );
  
    // padding: 40px;
    border-radius: 10px;

    h2 {
      font-size: 26px;
      margin-bottom: 20px;
      font-weight: 600;
    }

    p {
      font-size: 16px;
    }
  }
}
