<div class="flex bg-gray-100">
    <!-- Sidebar -->
    <main class="flex-1">
        <div class="flex p-2 flex-wrap justify-between">
            <div class="flex gap-8 items-center mb-6">
                <div class="bg-white border rounded-md shadow-sm w-full md:w-1/3">
                    <input type="text" placeholder="Search..." class="flex-1 p-2 rounded-l-md outline-none" />
                    <button class="bg-red-600 text-white px-4 rounded-r-md">Search</button>
                </div>

                <p-dropdown class="w-48 bg-white" [options]="searchOptions" [(ngModel)]="selectedSearchBy" placeholder="Search by"> </p-dropdown>

                <p-datepicker [(ngModel)]="fromDate" placeholder="From Date" dateFormat="dd/mm/yy" class="w-44" />
                <p-datepicker [(ngModel)]="toDate" placeholder="To Date" dateFormat="dd/mm/yy" class="w-44" />
            </div>
            <p-button label="New Allocation" icon="pi pi-bag" (click)="goToAllocateBag()"> </p-button>
        </div>
        <!-- 📋 Allocation list -->
        <div class="overflow-auto rounded-xl bg-white shadow ring-1 ring-gray-200">
            <p-table #dt [value]="records" [paginator]="true" [rows]="10" styleClass="w-full text-m" class="min-w-[800px]">
                <!-- HEADER -->
                <ng-template #header>
                    <tr class="bg-red-700 text-white text-left text-m font-semibold">
                        <th class="!px-5 !py-3">SR.No</th>
                        <th class="!px-5 !py-3">Bag ID</th>
                        <th class="!px-5 !py-3">UhID</th>
                         <th class="!px-5 !py-3">Transporter Key</th>
                        <th class="!px-5 !py-3">Patient Name</th>
                        <th class="!px-5 !py-3">Blood<br />Group</th>
                        <th class="!px-5 !py-3">Blood<br />Component</th>
                        <th class="!px-5 !py-3">Status</th>
                        <th class="!px-5 !py-3">Allocated On</th>
                    </tr>
                </ng-template>

                <!-- BODY -->
                <ng-template pTemplate="body" let-rec let-i="rowIndex">
                    <tr class="hover:bg-red-50" [ngClass]="stripe(i)">
                        <td class="!px-5 !py-3 font-medium">{{ i + 1 }}</td>
                        <td class="!px-5 !py-3">{{ rec.bloodBagId?.bloodBagId }}</td>
                        <td class="!px-5 !py-3">{{ rec.patientId?.UHID }}</td>
                        <td class="!px-5 !py-3">{{ rec.transporterKey }}</td>
                        <td class="!px-5 !py-3">{{ rec.patientId?.firstname | titlecase }} {{ rec.patientId?.lastname | titlecase }}</td>
                        <td class="!px-5 !py-3">{{ rec.patientId?.bloodGroup }}</td>
                        <td class="!px-5 !py-3">{{ rec.bloodBagId?.bloodcomponent }}</td>

                        <!-- Status badge -->
                        <td class="!px-5 !py-3">
                            <span class="inline-block rounded-full px-3 py-1 text-m text-black font-normal capitalize" [ngClass]="badgeClass(rec.status)">
                                {{ rec.status }}
                            </span>
                        </td>

                        <td class="px-5 py-3 whitespace-nowrap">{{ rec.allocatedOn | date: 'MMM dd, yyyy | hh:mm a' }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8" class="text-center py-8 text-gray-700 text-xl">
                            <div class="flex justify-center items-center h-full">No data found</div>
                        </td>
                    </tr>
                </ng-template>

                <!-- PAGINATOR -->
                <ng-template pTemplate="paginatorcenter">
                    <span class="text-xs italic text-gray-500">Showing best results</span>
                </ng-template>
            </p-table>
        </div>
    </main>
</div>
