/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

th {
    background: none !important;
    color: white !important;
}

.layout-main {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;

}