:host {
    height: 100%;
    width: 100%;
}

::ng-deep .p-dialog .p-dialog-content {
    padding: 0 !important;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  
    scrollbar-width: none;
}

::ng-deep .p-dialog .p-dialog-header {
    display: none !important;
}